@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body {
background-color: #f2f2f2;
font-family: "Lato";
font-weight: 300;
font-size: 16px;
color: #555;

-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;
margin-top: 70px;


}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;

}
h4 {
  color: #FC131A;

}
p {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;

}
.centered {

  text-align: center;
}
a {
  color: #F8FFF0;
}

a:hover, a:focus {
  color: #F8FFF0;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0px;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {

  font-weight: 800;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.navbar-inverse {
  background: #1A6C12;
  border-color: #1A6C12;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #EAA509;
}

.navbar-inverse .navbar-brand {
  color: #999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;

}
.navbar-brend {
  color: #EAA509;
  font-size: 50px;
}
.navbar-brend:hover {
  color: #EAA509;
}

#headerwrap {
  background: url(../img/1.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;

  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;

}

#headerwrap h1 {
  background-color: #EAA509;
  margin-top: 500px;
  color: #ffffff;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}


#headerwrap h2 {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.w {
  padding-top: 35px;
}
.w h4 {
  font-size: 25px;
}

#dg {
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#dg h4 {
  font-size: 40px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.wb {
  padding-top: 35px;
  margin-bottom:
}

.wb h4 {
    font-size: 35px;
  }
#lg {
  background: #ebebeb;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
}

#lg h4 {
  font-size: 40px;
}
#r {
  background: #EAA509;
  padding-top: 70px;
  padding-bottom: 70px;

}
#r h4 {
  color: white;
  font-size: 45px;

}
#r p {
  color: white;

}

#f {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 20px;
}

#f i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;

}

#f I:hover {
  color: #EAA509;

}

#v {
  background-color: #E0E0E0;
  margin-top: 0px;
  padding-top: 10px;
}

#im {
  margin-top: 30px;
}

#im1 {
  margin-top: 60px;
}

#hh {
  color: #808080;
  margin-left: -1100px;
}
